.chat-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar-toggle {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
}

.sidebar-toggle:hover {
  background: #0056b3;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Начальное положение за экраном */
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  z-index: 100;
  transition: left 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: none; /* Исчезающая обводка */
}

.sidebar-open {
  left: 0; /* Открытое состояние */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Плавное появление обводки */
}

.sidebar-close {
  background: none;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  align-self: flex-end;
}

.sidebar-item {
  color: #007bff;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-family: Arial, sans-serif;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.sidebar-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.sidebar-item:hover {
  background-color: #f0f0f0;
  color: #003b79;
}

.sidebar-item.active {
  background-color: #e0e0e0;
  color: #003b79;
}

.sidebar-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  overflow-y: hidden;
}

.container {
  margin: auto;
}

.menu-container {
  position: relative;
}

#hand {
  position: absolute;
  display: none; /* Скрываем руку по умолчанию */
  /* Добавьте другие стили для руки, например, размер и цвет */
}

.menu {
  display: none; /* Скрываем меню по умолчанию */
  position: absolute; /* Позиционируем меню относительно кнопки */
  bottom: 100%; /* Позиционируем меню над кнопкой */
  right: 0; /* Выравниваем меню по левому краю кнопки */
  background-color: white; /* Цвет фона меню */
  border: 1px solid #ccc; /* Граница меню */
  padding: 10px; /* Внутренние отступы */
  z-index: 100; /* Устанавливаем порядок отображения */
  margin-bottom: 5px; /* Отступ между кнопкой и меню */
}

.menu.active {
  display: block; /* Показываем меню, когда у него есть класс active */
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
  position: relative;
}

.divider {
  border: none; /* Убираем стандартный стиль рамки */
  height: 1px; /* Высота линии */
  background-color: #ccc; /* Цвет линии */
  margin-top: 20px;
}

.hand {
  z-index: 2;
  width: 50px; /* Ширина изображения руки */
  height: 50px; /* Высота изображения руки */
  background-image: url("imges/hand.png"); /* Путь к изображению руки */
  background-size: contain; /* Масштабируем изображение */
  display: none; /* Скрываем элемент до нажатия */
  opacity: 1; /* Полная видимость в начале */
  transition: opacity 1s ease-out; /* Плавный переход для исчезновения */
  pointer-events: none; /* Игнорировать события мыши */
}

.avatar {
  border-radius: 75%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
}

.chat-title {
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.chat-window {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.messages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 70vh; /* Задаем высоту в 70% от высоты экрана */
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}

.msg-button {
  height: 25px;
  width: 25px;
  pointer-events: none;
}

.messages-list li {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.messages-list li:nth-child(odd) {
  background-color: #e8f4fd;
}

.message-form {
  display: flex;
  margin-top: 10px;
}

.message-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-width: 1px;
  font-size: 14px;
}

.message-form button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.message-form button:hover {
  background-color: #0056b3;
}

@keyframes squash {
  0%,
  100% {
    transform: scaleY(2); /* Объект нормального размера */
    transform: scaleX(0.5); /* Объект нормального размера */
  }
  50% {
    transform: scaleY(0.5); /* Объект расплющен */
    transform: scaleX(2); /* Объект нормального размера */
  }
}

.avatar.squashing {
  animation: squash 1.5s;
}
