<!-- test.html -->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Тестовая страница</title>
    <script src="../../index.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h1>Тестовая страница</h1>
      <p>Это тестовая страница</p>
      <div class="test-content">
        <p>Хуй</p>
        <button class="test-button">Нажми меня</button>
      </div>
    </div>
    <div class="sidebar" id="sidebar">
      <div class="sidebar-item">
        <a href="index.html" onclick="selectNavItem(this)">
          <img src="imges/chat-icon.png" alt="Chat" class="sidebar-icon" />
          <span>Chat</span>
        </a>
      </div>
      <div class="sidebar-item">
        <a href="views/test/index.html" onclick="selectNavItem(this)">
          <span>Test</span>
        </a>
      </div>
      <div class="sidebar-item" onclick="selectNavItem(this)">
        <span>Notifications</span>
      </div>
      <div class="sidebar-item" onclick="selectNavItem(this)">
        <span>Profile</span>
      </div>
    </div>
  </body>
</html>
