<!-- test.html -->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Тестовая страница</title>
  </head>
  <body>
    <div class="container">
      <h1>Тестовая страница</h1>
      <p>Это тестовая страница</p>
      <div class="test-content">
        <p>Хуй</p>
        <button class="test-button">Нажми меня</button>
      </div>
      <!-- Нижний навигационный бар -->
      <div class="navbotbar">
        <div class="nav-item" onclick="selectNavItem(this)">
          <a href="../../index.html"
            ><img
              src="../../imges/chat-icon.png"
              alt="Chat"
              class="nav-bar-icon"
          /></a>
        </div>
        <div class="nav-item" onclick="selectNavItem(this)">
          <a href="/index.html">Test</a>
        </div>
        <div class="nav-item" onclick="selectNavItem(this)">Notifications</div>
        <div class="nav-item" onclick="selectNavItem(this)">Profile</div>
      </div>
    </div>
  </body>
</html>
