/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  overflow-y: hidden;
}

.container {
  margin: auto;
}

.test-page {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
}

.test-page h1 {
  color: #333;
}

.test-content {
  margin-top: 20px;
}

.test-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.test-button:hover {
  background-color: #0056b3;
}

.sidebar-toggle {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
}

.sidebar-toggle:hover {
  background: #0056b3;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Начальное положение за экраном */
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  z-index: 100;
  transition: left 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: none; /* Исчезающая обводка */
}

.sidebar-open {
  left: 0; /* Открытое состояние */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Плавное появление обводки */
}

.sidebar-close {
  background: none;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  align-self: flex-end;
}

.sidebar-item {
  color: #007bff;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-family: Arial, sans-serif;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.sidebar-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.sidebar-item:hover {
  background-color: #f0f0f0;
  color: #003b79;
}

.sidebar-item.active {
  background-color: #e0e0e0;
  color: #003b79;
}

.sidebar-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
